{% extends "base.html" %}

{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<h1>{{ album.title }}</h1>
<p>Vydáno: {{ album.release_year }}</p>
<p>Interpret: <a href="{% url 'band_detail' album.band.id %}">{{ album.band.name }}</a></p>

<h2>Písně:</h2>
<ul>
    {% for song in songs %}
        {% if song.url %}
            <li><a href="{{ song.url }}" target="_blank">{{ song.title }}</a></li>
        {% else %}
            <li>{{ song.title }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
